/node_modules
/public/css
/public/images
/public/js
/public/fonts
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
storage/debugbar
