// // Fonts
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-Thin.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-Thin.ttf') format('ttf');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-ExtraLight.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-ExtraLight.ttf') format('ttf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-Light.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-Light.ttf') format('ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-Regular.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-Medium.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-SemiBold.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-Bold.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Suse';
    src: url('/fonts/suse/webfonts/SUSE-ExtraBold.woff2') format('woff2'),
        url('/fonts/suse/ttf/SUSE-ExtraBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 800;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome Free
@import '~@fortawesome/fontawesome-free/css/all.css';