// // Fonts
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-Light.ttf');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
// italic
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-LightItalic.ttf');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/Ubuntu-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome Free
@import '~@fortawesome/fontawesome-free/css/all.css';